<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__ . '/src')
    ->in(__DIR__ . '/tests')
;

return PhpCsFixer\Config::create()
    ->setCacheFile(__DIR__ . '/php_cs.cache')
    ->setRiskyAllowed(true)
    ->setRules([
        '@Symfony'                               => true,
        'yoda_style'                             => [
            'equal'            => false,
            'identical'        => false,
            'less_and_greater' => false,
        ],
        'array_indentation'                      => true,
        'method_chaining_indentation'            => true,
        'no_useless_else'                        => true,
        'multiline_whitespace_before_semicolons' => ['strategy' => 'new_line_for_chained_calls'],
        'global_namespace_import'                => true,
        'braces'                                 => true,
        'indentation_type'                       => true,
        'binary_operator_spaces'                 => [
            'operators' => [
                '=>' => 'align_single_space_minimal',
            ],
        ],
        'concat_space'                           => [
            'spacing' => 'one',
        ],
    ])
    ->setIndent(str_pad('', 4))
    ->setFinder(
        $finder
    )
;
